.vs/
.vscode/
# Archivos de caché de Visual Studio
.vsidx
.vsconfig
*.vspscc
*.vssscc

# Archivos temporales
*.tmp
*.log
*.cache
#datos demasiado grandes
datos/mix/**/*BABD-13.csv
datos/mix/**/*CB.tsv
datos/mix/**/*CB.tsv
#otros archivos a ignorar
misc/
bitcoin_trace_results.csv